<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8"/>
    <title>Linker</title>
    <link rel = "stylesheet/less" type = "text/css" href = "{{ url_for( 'static', filename = './css/default.less' ) }}"/>
    <link rel = "shortcut icon" href = "{{ url_for( 'static', filename = 'favicon.ico' ) }}"/>
    <script src = "{{ url_for( 'static', filename = './js/less.min.js' ) }}"></script>
</head>
<body>
    <header class = "top-header">
        <div class = "logo">
            <a href = "/"><div class = "logo-img"></div></a>
        </div>
    </header>
    <div class = "main-content">
        <header class = "content-header">
            <div class = "header-left">
                <h1>Error 404:</h1>
            </div>
        </header>
        <div class = "error-box">
            <h3>Page not found.</h3>
            <p>Unfortunately, the page you were looking for could not be found. Please make sure
            you've entered the right URL. If you have, then it's probably our fault. Try again later,
            or go back to the <a href = "/">start page</a>.</p>
            <p>If the problem persists, you can contact us <a href = "">here</a>.</p>
        </div>
    </div>
</body>
</html>
