{% extends "base.html" %}
    {% block page_title %}<h1 class = "page-title">Internal server error</h1>{% endblock %}
{% block page_subtitle %}<span class = "red">HTTP Error 500</span>{% endblock %}
{% block body_properties %}class = "body-full-window"{% endblock %}
{% block front_content %}
    <div class = "front-content extra-space">
        <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere doloremque consectetur voluptatum, qui nihil est iste illo ut totam ratione delectus. Commodi alias cumque aliquid distinctio nulla provident sit unde?</p>
        <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum vero nostrum accusamus aut blanditiis? Officiis vel, quis aperiam, mollitia, atque exercitationem consequuntur vitae consectetur ad sapiente cumque, ut quas quos!</p>
    </div>
{% endblock %}
{% block front_action %}
    <div class = "front-action">
        <button class = "red-button big">Take me back!</button>
    </div>
{% endblock %}
{% block page_options %}{% endblock %}
{% block page_content %}{% endblock %}
