<!DOCTYPE html>
<html ng-app = "linkerApp">
<head>
    <meta charset = "UTF-8"/>
    <title>Linker</title>
    <link rel = "stylesheet/less" type = "text/css"
        href = "{{ url_for( 'static', filename = './css/default.less' ) }}"/>
    <link rel = "shortcut icon" type = "image/x-icon"
        href = "{{ url_for( 'static', filename = './favicon.ico' ) }}"/>
    <script src = "{{ url_for( 'static', filename = './js/less.min.js' ) }}"></script>
</head>
<body {% block body_properties %}{% endblock %}>
    <header class = "page-top">
        <div class = "app-logo">
            <img src = "{{ url_for( 'static', filename = './img/logo.png' ) }}" class = "app-logo-img"/>
            <div class = "app-name">Linker</div>
        </div>
        {% block right_box %}
            <div class = "right-box">
            </div>
        {% endblock %}
    </header>

    <div class = "page-front">
        <div class = "content-wrapper front-wrapper">
            <header class = "front-header">
                <h1 class = "page-title">{% block page_title %}Template page{% endblock %}</h1>
                <h4 class = "page-subtitle">
                    {% block page_subtitle %}
                        This is a template for all the other pages of this app.
                    {% endblock %}
                </h4>
            </header>
            {% block front_content %}
                <div class = "front-content">
                    <div class = "front-spacer"></div>
                </div>
            {% endblock %}
            {% block front_action %}
                <div class = "front-action">
                    <button class = "red-button big">Action</button>
                </div>
            {% endblock %}
        </div>
    </div>


    {% block page_options %}
    <div class = "page-options">
        <div class = "content-wrapper options-wrapper">
            <h3>An option</h3>
        </div>
    </div>
    {% endblock %}

    <div class = "page-content">
        {% block page_content %}
            <div class = "page-items">
                <div class = "page-item">
                    <div class = "content-wrapper">
                        <div class = "page-item-title">
                            <h2>Page item</h2>
                            <div class = "ticket">notification</div>
                        </div>
                        <div class = "list">
                            <span class = "primary">Mirko Slavkovic &middot;</span><span class = "secondary"> Ivo Stipic</span>
                        </div>
                        <div class = "text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                        </div>
                    </div>
                </div>

                <div class = "page-item">
                    <div class = "content-wrapper">
                        <h2 class = "page-item-title">Another page item</h2>
                        <div class = "text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, saepe culpa esse, molestias, cum dolorem illo magni tempora vel veritatis incidunt dolores odit suscipit. Nemo placeat itaque nisi quas amet.
                        </div>
                    </div>
                </div>

                <div class = "page-item">
                    <div class = "content-wrapper">
                        <h2 class = "page-item-title">And some more</h2>
                        <div class = "text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusantium aspernatur velit voluptas doloribus consequuntur, saepe harum, sit fuga impedit. Impedit dolore voluptas, quos magnam corporis, ducimus dicta perferendis numquam.
                        </div>
                    </div>
                </div>

                <div class = "page-item">
                    <div class = "content-wrapper">
                        <h2 class = "page-item-title">Just one last thing</h2>
                        <div class = "text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quasi earum voluptatum quaerat! Amet fugit vitae accusamus! Dicta sequi temporibus autem dolor tempore hic nemo dolore voluptate libero, deserunt placeat.
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <footer class = "page-footer">
        <div class = "content-wrapper">
            {% block footer %}
                <div class = "copyright">
                    Copyright &copy; 2015.
                </div>
            {% endblock %}
        </div>
    </footer>
</body>
</html>
