{% extends "base.html" %}

{% block title %}All groups &mdash; Linker{% endblock %}

{% block body_properties %}ng-controller = "allGroupsCtrl"{% endblock %}

{% block right_box %}
    <ul class = "user-box">
        <li class = "user">{{ user.name }}</li>
        <li><a href = "/user/settings">Settings</a></li>
        <li><a href = "/user/signout">Sign out</a></li>
    </ul>
{% endblock %}

{% block page_title %}<h1 class = "page-title">All groups</h1>{% endblock %}

{% block page_subtitle %}List of all the groups you're in{% endblock %}

{% block front_content %}
    <p class = "text centered">You can create a new group by clicking on the button below.</p>
{% endblock %}

{% block front_action %}
    <div class = "front-action">
        <button class = "red-button big" ng-click = "showCreate()">Create new group</button>
    </div>
{% endblock %}

{% block page_options %}
    <div class = "page-options">
        <div class = "errors" ng-hide = "hideErrors">
            <div class = "content-wrapper">
                {% for m in get_flashed_messages() %}
                    <span class = "error">{{ m }}</span>
                {% endfor %}
            </div>
        </div>
        <div class = "content-wrapper options-wrapper" ng-show = "isCreateShown">
            <h3>Create a new group</h3>
            <form method = "post" action = "/groups">
                <input type = "text" name = "name" class = "long bold" placeholder = "Group name" required = "required"/>
                <textarea name = "description" class = "long" placeholder = "Description"></textarea>
                <div class = "invite-wrapper">
                    <input type = "text" name = "invited-users" class = "hidden" ng-model = "_invited"/>
                    <ul class = "invited-users">
                        <li ng-repeat = "u in invited" ng-click = "$parent.removeUser( $index )">[[ u.name ]]</li>
                    </ul>
                    <div class = "suggest-wrapper">
                        <input type = "text" name = "add-user" class = "add-user" placeholder = "Invite user"
                        autocomplete = "off" ng-model = "nameStart" ng-enter = "addUser()"
                        ng-change = "updateAutocomplete()" ng-keypress = "updateSelection( $event )"/>
                        <ul class = "suggest-dropdown" ng-show = "isAutocompleteShown">
                            <li ng-repeat = "u in suggestions" ng-class = "{selected : $index == $parent.selectionIndex }">
                                <a ng-click = "$parent.autocompleteClick( $index )">
                                    [[ u.name ]] <span class = "email">[[ u.email ]]</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button type = "submit" class = "red-button">Create group</button>
                <button type = "button" class = "blue-button right" ng-click = "hideCreate()">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class = "page-items">
        {% for gr in groups %}
            <div class = "page-item group-item">
                <div class = "content-wrapper">
                    <div class = "page-item-title">
                        <h2><a href = "/groups/{{ gr.id }}">{{ gr.name }}</a></h2>
                        {% if gr.unseen_count > 0 %}
                            <div class = "ticket">{{ gr.unseen_count }} new link{{ gr.unseen_count | pluralize }}</div>
                        {% endif %}
                    </div>
                    <div class = "span-list">
                        <span class = "primary">{{ gr.owner }}</span>
                        <span>
                            {% for us in gr.users %}
                                <span class = "secondary">{{ us }}</span>
                            {% endfor %}
                        </span>
                        <span class = "tertiary links">{{ gr.links_count }} link{{ gr.links_count | pluralize }}</span>
                    </div>
                    <div class = "text">
                        {{ gr.descr }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class = "page-item group-item">
                <div class = "content-wrapper">
                    <div class = "page-item-title">
                        <h2>No groups yet</h2>
                    </div>
                    <div class = "text">
                        If you want to create one, click on the <b>big red button</b> above.
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
