{% extends "base.html" %}

{% block title %}All groups &ndash; Linker{% endblock %}

{% block right_box %}
    <ul class = "user-box">
        <li class = "user">{{ user.name }}</li>
        <li><a href = "">Settings</a></li>
        <li><a href = "/user/signout">Sign out</a></li>
    </ul>
{% endblock %}

{% block page_title %}All groups{% endblock %}

{% block page_subtitle %}List of all the groups you're in{% endblock %}

{% block front_content %}
    <p class = "text centered">You can create a new group by clicking on the button below.</p>
{% endblock %}

{% block front_action %}
    <div class = "front-action">
        <button class = "red-button big">Create new group</button>
    </div>
{% endblock %}

{% block page_options %}
    <div class = "page-options">
        <div class = "content-wrapper options-wrapper">
            <h3>Create a new group</h3>
            <form method = "post" action = "/groups">
                <input type = "text" name = "name" class = "long name-input" placeholder = "Group name"/>
                <textarea name = "description" class = "long" placeholder = "Description"></textarea>
                <div class = "invite-wrapper">
                    <input type = "text" name = "invited-users" style = "display: none;"/>
                    <ul class = "invited-users">
                        <li>Mirko Mirkovic</li>
                        <li>Pero Perkovic</li>
                    </ul>
                    <div class = "suggest-wrapper">
                        <input type = "text" name = "add-user" class = "add-user" placeholder = "Invite user" autocomplete = "off"/>
                        <ul class = "suggest-dropdown">
                            <li>Mirko Marković <span class = "email">mirko@mail.com</span></li>
                            <li>Hrvoje Horvatović <span class = "email">hrvoje.horvatovic@company.com</span></li>
                            <li>Mirko Zlikovski <span class = "email">zliko.mirko@yuhoo.com</span></li>
                        </ul>
                    </div>
                </div>
                <button type = "submit" class = "red-button">Create group</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class = "page-items">
        {% if not groups %}
            <div class = "page-item group-item">
                <div class = "content-wrapper">
                    <div class = "page-item-title">
                        <h2><a href = "/groups/{{ gr.id }}">No groups yet</a></h2>
                    </div>
                    <div class = "text">
                        If you want to create one, click on the big red button above.
                    </div>
                </div>
            </div>
        {% else %}
            {% for gr in groups %}
                <div class = "page-item group-item">
                <div class = "content-wrapper">
                    <div class = "page-item-title">
                        <h2><a href = "/groups/1">{{ gr.name }}</a></h2>
                        <!-- <div class = "ticket">3 new links</div> -->
                    </div>
                    <div class = "list user-list">
                        <span class = "primary">{{ gr.owner }}</span>
                        {% for us in gr.users %}
                            <span class = "secondary">{{ us }}</span>
                        {% endfor %}
                    </div>
                    <div class = "text">
                        {{ gr.descr }}
                    </div>
                </div>
            </div>
            {% endfor %}

        {% endif %}
       <!--  <div class = "page-item group-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                <h2><a href = "/groups/1">Filozofija</a></h2>
                    <div class = "ticket">3 new links</div>
                </div>
                <div class = "list">
                    <span class = "primary">Mirko Slavkovic &middot;</span><span class = "secondary"> Ivo Stipic</span>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div> -->
    </div>
{% endblock %}
