{% extends "base.html" %}

{% block title %}{{ group.name }} &mdash; Linker{% endblock %}

{% block body_properties %}ng-controller = "groupCtrl"{% endblock %}

{% block right_box %}
    <ul class = "user-box">
        <li class = "user">{{ user.name }}</li>
        <li><a href = "">Settings</a></li>
        <li><a href = "/user/signout">Sign out</a></li>
    </ul>
{% endblock %}

{% block front_beginning %}<form method = "post" action = "/groups/{{ group.id }}/edit">{% endblock %}
{% block front_ending %}</form>{% endblock %}

{% block page_title %}
    <h1 class = "page-title" ng-hide = "isEditShown">{{ group.name }}
    {% if group.is_owner %}
        <span class = "options">
            <span class = "inline-option edit-option" ng-click = "showEdit()"></span>
            <span class = "inline-option delete-option" ng-click = "showDelete()"></span>
        </span>
    {% endif %}
    </h1>
    {% if group.is_owner %}
        <input type = "text" class = "group-name-input" name = "group-name" value = "{{ group.name }}"
        ng-show = "isEditShown"/>
    {% endif %}
{% endblock %}

{% block page_subtitle %}
    <span class = "group-members">
        <span class = "owner">{{ group.owner }}</span>
        {% for us in group.users %}
            <span class = "member">{{ us }}</span>
        {% endfor %}
        {% if group.is_owner %}
            <span class = "red invite-link" ng-click = "showInvite()"><a>Invite</a></span>
        {% endif %}
    </span>
{% endblock %}

{% block front_content %}
    <p class = "text centered" ng-hide = "isEditShown">{{ group.descr }}</p>
    <div class = "group-edit" ng-show = "isEditShown">
        <textarea class = "group-description-textarea">{{ group.descr }}</textarea>
        <div class = "button-wrapper">
            <button type = "submit" class = "red-button">Save</button>
            <button type = "button" class = "lblue-button right">Cancel</button>
        </div>
    </div>
{% endblock %}

{% block front_action %}
    <div class = "front-action" ng-hide = "isEditShown">
        <button type = "button" class = "red-button big" ng-click = "showShare()">Add a link</button>
    </div>
{% endblock %}

{% block page_options %}
    <div class = "page-options">
        <div class = "errors" ng-hide = "hideErrors">
            <div class = "content-wrapper">
                {% for m in get_flashed_messages() %}
                    <span class = "error">{{ m }}</span>
                {% endfor %}
            </div>
        </div>
        <div class = "content-wrapper options-wrapper" ng-show = "isShareShown">
            <h3>Share a link</h3>
            <form method = "post" action = "/groups/{{ group.id }}/links">
                <input type = "text" name = "url" class = "long name-input"
                placeholder = "Link URL" required = "required"/>
                <textarea name = "description" class = "long" placeholder = "Description"></textarea>
                <button type = "submit" class = "red-button">Share link</button>
                <button type = "button" class = "blue-button right" ng-click = "hideShare()">Cancel</button>
            </form>
        </div>
        {% if group.is_owner %}
            <div class = "content-wrapper options-wrapper" ng-show = "isInviteShown">
                <h3>Invite users</h3>
                <form method = "post" action = "/groups/{{ group.id }}/invite">
                    <div class = "invite-wrapper">
                        <input type = "text" name = "invited-users" style = "display: none;"/>
                        <ul class = "invited-users">
                            <li>Mirko Mirkovic</li>
                            <li>Pero Perkovic</li>
                        </ul>
                        <div class = "suggest-wrapper">
                            <input type = "text" name = "add-user" class = "add-user"
                            placeholder = "Invite user" autocomplete = "off"/>
                            <ul class = "suggest-dropdown">
                                <li>Mirko Marković <span class = "email">mirko@mail.com</span></li>
                                <li>Hrvoje Horvatović <span class = "email">hrvoje.horvatovic@company.com</span></li>
                                <li>Mirko Zlikovski <span class = "email">zliko.mirko@yuhoo.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <button type = "submit" class = "red-button">Invite users</button>
                </form>
            </div>
            <div class = "content-wrapper options-wrapper" ng-show = "isDeleteShown">
                <h3>Delete group</h3>
                <p class = "text inverted">By deleting this group all the links shared in it and all
                comments posted on them will also be deleted. Are you sure you want to continue?</p>
                <button class = "red-button">Delete</button>
                <button class = "blue-button right">Cancel</button>
            </div>
            <!-- <div class = "content-wrapper options-wrapper" ng-show = "isKickShown">
                <h3>Kick user?</h3>
                <p class = "text inverted">By deleting this group all the links shared in it and all
                comments posted on them will also be deleted. Are you sure you want to continue?</p>
                <button class = "red-button">Delete</button>
                <button class = "blue-button right">Cancel</button>
            </div> -->
        {% endif %}
    </div>
{% endblock %}

{% block page_content %}
    <div class = "page-items">
        {% for link in group.links %}
            <div class = "page-item link-item">
                <div class = "content-wrapper">
                    <div class = "page-item-title">
                        <h2><a target = "_blank" href = "{{ link.url }}">{{ link.url }}</a></h2>
                        {% if not link.seen_by_user %}
                            <a href = "/groups/{{ group.id }}/links/{{ link.id }}/mark-seen">
                                <div class = "link-status new"></div>
                            </a>
                        {% endif %}
                    </div>
                    <div class = "span-list">
                        <span class = "primary">{{ link.owner }}</span>

                        <span>
                            {% for u in link.seen %}
                                <span class = "secondary">{{ u }}</span>
                            {% endfor %}
                        </span>

                        <span class = "date tertiary">{{ link.date | prettify }}</span>
                        {% if group.is_owner or link.is_owner %}
                            <span class = "delete">
                                <a href = "/groups/{{ group.id }}/links/{{ link.id }}/delete">Delete</a>
                            </span>
                        {% endif %}
                    </div>
                    <div class = "text">{{ link.descr }}</div>
                    <div class = "comments">
                        {% for comment in link.comments %}
                            <div class = "comment">
                                <div class = "comment-header span-list">
                                    <span class = "primary">{{ comment.owner }}</span>
                                    <span class = "date tertiary">{{ comment.date | prettify }}</span>
                                    <p class = "text">{{ comment.content }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class = "add-comment collapsed">
                            <span class = "primary">Leave a comment:</span>
                            <form method = "post" class = "comment-form">
                                <textarea name = "comment-contents" class = "comment-contents">

                                </textarea>
                                <button class = "red-button">Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class = "page-item link-item">
                <div class = "content-wrapper">
                    <div class = "page-item-title">
                        <h2>No links yet in this group</h2>
                    </div>
                    <div class = "text">
                    If you'd like to add one, click on the <b>big red button</b> above.
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
