{% extends "base.html" %}
{% block page_title %}Keep all your links in one place{% endblock %}
{% block page_subtitle %}and <b style = "color: #fff;">share them</b> with people you choose{% endblock %}
{% block front_content %}
    <div class = "front-content extra-space">
        <!--<p class = "text centered">Better than bookmarks, easier than Facebook</p>-->
    </div>
{% endblock %}
{% block front_action %}
    <div class = "front-action">
        <button class = "red-button big">Sign up!</button>
    </div>
{% endblock %}
{% block page_options %} {% endblock %}
{% block page_content %}
    <div class = "page-items landing-items">
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Organize your links</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Share them with others</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Comment on them</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Keep track of which were visited</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
