{% extends "base.html" %}

{% block title %}Linker &mdash; Landing page{% endblock %}

{% block page_title %}
    <h3><b>Linker</b></h3>
    <h1 class = "page-title">Keep all your links in one place</h1>
{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block right_box %}
    <form method = "post" action = "/user/login" class = "top-form">
        <input type = "text" name = "email" placeholder = "Email"/>
        <input type = "password" name = "password" placeholder = "Password"/>
        <button type = "submit" class = "red-button">Login</button>
    </form>
{% endblock %}

{% block front_content %}
    <div class = "front-content">
        <p class = "text centered">Organize and share them with people you choose. <br/>
        <span class = "emph">And do it all for <b>free!</b></span></p>
    </div>
{% endblock %}

{% block front_action %}
    <div class = "front-action">
        <a href = "#signup"><button class = "red-button big">Sign up!</button></a>
    </div>
{% endblock %}

{% block page_options %}
    <div class = "page-options always-on" id = "signup">
        <div class = "content-wrapper options-wrapper">
            <h3>Sign up for Linker</h3>
            {% for m in get_flashed_messages() %}
                <span class = "error">{{ m }}</span>
            {% endfor %}
            <form method = "post" action = "/user/register">
                <input type = "text" name = "name" class = "long" placeholder = "Your name"/>
                <input type = "email" name = "email" class = "long name-input" placeholder = "Email address"/>
                <input type = "password" name = "password" class = "long" placeholder = "Password"/>
                <input type = "password" name = "password2" class = "long" placeholder = "Repeat password"/>
                <button type = "submit" class = "red-button">Sign up!</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class = "page-items landing-items">
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Organize your links</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Share them with others</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Comment on them</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
        <div class = "page-item">
            <div class = "content-wrapper">
                <div class = "page-item-title">
                    <h2>Keep track of which were visited</h2>
                </div>
                <div class = "text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam consequuntur eum dolorum, blanditiis, aliquid cupiditate suscipit? Deserunt animi eius autem aliquid harum sapiente ex, adipisci natus, obcaecati possimus, ut saepe.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
