<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8"/>
    <title>Linker</title>
    <link rel = "stylesheet/less" type = "text/css" href = "{{ url_for( 'static', filename = './css/default.less' ) }}"/>
    <script src = "{{ url_for( 'static', filename = './js/less.min.js' ) }}"></script>
</head>
<body>
    <header class = "top-header">
        <div class = "logo">
            <img src = "{{ url_for( 'static', filename = './img/link-48.png' ) }}"/>
        </div>
    </header>
    <div class = "main-content">
        <header class = "content-header">
            <div class = "header-left">
                <h1>Signup form</h1>
            </div>
        </header>
        <div class = "signup-box">
            <div class = "info">
                <h3>Please fill out the form, using your true data.</h3>
            </div>
            <form method = "post" action = "/signup">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class = "errors">
                        {% for message in messages %}
                            <p class = "error">{{ message }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class = "form-line">
                    <label for = "name">Name</label>
                    <input type = "text" name = "name"/>
                </div>

                <div class = "form-line">
                    <label for = "email">Email</label>
                    <input type = "email" name = "email"/>
                </div>

                <div class = "form-line">
                    <label for = "password">Password</label>
                    <input type = "password" name = "password"/>
                </div>

                <div class = "form-line">
                    <label for = "password-repeat">Repeat</label>
                    <input type = "password" name = "password-repeat"/>
                </div>
                <div class = "form-line">
                    <p class = "small tos">By clicking on the <b>sign up</b> button, you agree to
                    sell your soul to the legal owner of this application.</p>
                </div>
                <div class = "form-line">
                    <button type = "submit" class = "signup-btn">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
